html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0000FF;
  color: #0000FF;
}

/* Centers and styles a heading */
h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: green;
}

/* Adds padding and a border to paragraphs */
p {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
