
body {
  background-color: blue;
  color: green;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/* Make sure all headings are green as well */
h1, h2, h3, h4, h5, h6 {
  color: green;
  font-family: "Times New Roman", Times, serif;
}
